<!DOCTYPE html>
<html>
  <head>
    <title>Car Finder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <% if Rails.env.production? %>
      <!-- TODO: host a production frontend bundle -->
    <% else %>
      <script src="http://localhost:3001/bundle.js">
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
